body {background-color: white;
    font-family: 'HalyardDis_ISIAU Bk', Arial, Helvetica, sans-serif;
    display: flex;
    }
    
div {width: 20%;
    }

h1 {
    color:black;
    font-weight: 100;
    font-size: 16pt;
    }

h2 {
    color:black;
    font-weight: 100;
    font-size: 24pt;
    }

h3 {
    color:black;
    font-weight: 100;
    font-size: 12pt;
    }

h4 {
    color:black;
    font-weight: 100;
    font-size: 1pt; 
    }

p {
    color: black;
    font-weight: light;
    font-size: 12pt;
    }

time {
    color:black;
    font-weight: 100;
    font-size: 12pt;
    }

a {
    text-decoration: none;
    border-bottom: 1px solid black; /*shorthand: formattazione abbreviata*/
    }

a:hover {text-decoration: underline;
        color: blue;
        }

a:visited {color: gray;
            font-weight: 800;
        }